.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: white;
    height: 100vh;
    text-align: center;
}

img {
    width: 125px;
    box-shadow: 1px 1px 15px 3px #c1848f;
    margin-bottom: 25px;
}

span {
    color : white;
    font-size: 17px;
    margin-top:16px;
}

input {
    border-radius: 10px;
    border: 1px solid #da8291;
    width: 200px;
    height: 25px;
    margin-top: 5px;
    text-align: end;
    padding-right: 5px;
}

.header {
    margin-top:8px;
    font-size: 26px;
    font-weight: bold;
}

.time {
    font-size: 20px;
}

.place {
    font-size: 20px;
}

.title {
    font-size: 24px;
    padding-top: 13px;
    font-weight: bold;
}

.inputs-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
}

.name-container {
    display: flex;
    flex-flow: column;
    align-items: end;
    justify-content: center;

    span {
        margin-top: 7px;
    }
}

.arrive-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;

    span {
        margin: 10px 0px 5px 0px;
    }
}

.send-button {
    background-color: white;
    border: 1px solid #da8291;
    border-radius: 20px;
    width: 125px;
    margin-top: 25px;
    font-size: 17px;
    height: 35px;
    font-weight: bold;
    color: #403d3d;
}

.error-message {
    color: red;
}

.approval-description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-weight: bold;
    height: 100vh;
    margin: auto;

    span {
        color: white;;
        font-size: 22px;
        margin-top: 20px;
    }
}